@charset "UTF-8";
/*
0-600: phone
600-900:tablet portrait
900-1200:tablet landscape
1200-1800: desktop
1800 + : big desktop

breakpoint argument choices:
-tab-port
-tab-land
-desktop
-big-desktop

1em = 16px
*/
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  20% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out; }
  40% {
    opacity: 1;
    transform: scale(1.1); }
  60% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 0; } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10rem);
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4rem);
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes showing {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (hover: hover) {
  .fadein {
    opacity: 0;
    -webkit-transform: translateY(5rem);
    transform: translateY(5rem);
    transition: all .6s; } }

.fadein.scrollin {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

@media (hover: hover) {
  .fadeinLeft {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
    transform: translateX(-4rem);
    transition: all .6s; } }

.fadeinLeft.scrollin {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

@media (hover: hover) {
  .fadeinRight {
    opacity: 0;
    -webkit-transform: translateX(4rem);
    transform: translateX(4rem);
    transition: all .6s; } }

.fadeinRight.scrollin {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-weight: 400;
  color: #eee; }
  body.jp {
    font-family: 'Noto Serif JP', serif; }
  body.en {
    font-family: 'Cormorant Garamond', serif; }
  body.cn {
    font-family: 'Noto Serif TC', serif; }

.container {
  max-width: 112rem;
  margin: 0 auto; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.8);
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: moveInTop 1s ease-out; }
    @media only screen and (min-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 6rem; } }
  .heading-primary--sub {
    display: block;
    font-size: .5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: zoomIn 1s ease-out; }
    @media only screen and (min-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2rem;
        letter-spacing: .7rem; } }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(145deg, #fff 0%, #fff 50%, #c7dc68 50%);
  background-size: 230%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  animation: moveInBottom .6s ease-out .6s;
  animation-fill-mode: backwards;
  transition: all .5s;
  border: none; }
  @media only screen and (min-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  .heading-secondary:hover {
    background-position: 100%;
    transform: skewY(-2deg) skewX(-10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  .heading-secondary.fadein {
    transition-delay: .1s; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (min-width: 37.5em) {
    .heading-tertiary {
      font-size: 2rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading-tertiary {
      font-size: 2.5rem; } }

.heading-fourth {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

[class^="paragraph"] {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto; }
  [class^="paragraph"]:not(:last-child) {
    margin-bottom: 3rem; }

.paragraph {
  font-size: 1.6rem; }

.paragraph-secondary {
  font-size: 1.4rem; }

.hover-text {
  display: none; }
  @media (hover: hover) {
    .hover-text {
      display: initial;
      font-size: 1.6rem; } }

.touch-text {
  display: none; }
  @media (hover: none) {
    .touch-text {
      display: initial;
      font-size: 1.6rem; } }

.error-message {
  color: #e75d2a; }

@media only screen and (max-width: 351px) {
  .pre-title {
    display: none; } }

.success {
  background: #c7dc68;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #5e4136;
  border-radius: 3px; }

.loading {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  position: fixed;
  z-index: 5000;
  display: none; }
  .loading__container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .loading--status {
    padding: 1rem; }
    .loading--status::before {
      content: "complete"; }
    .loading--status.active::before {
      content: "sending..."; }
  .loading--complete {
    width: 6rem;
    height: 6rem;
    display: none; }

.u-center-text {
  text-align: center !important; }

.u-text-grey-light {
  color: #f7f7f7; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }
  @media only screen and (min-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 5rem !important; }
  @media only screen and (min-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 8rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 2rem !important; }
  @media only screen and (min-width: 37.5em) {
    .u-margin-top-medium {
      margin-top: 3rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.content-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3rem;
  font-size: 1.6rem;
  text-align: center;
  color: #5e4136;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  animation: moveInBottom .8s ease-in .8s;
  animation-fill-mode: backwards; }
  @media only screen and (min-width: 37.5em) {
    .content-box {
      border-radius: 3px;
      padding: 4rem; } }
  .content-box.fadein {
    transition-delay: .2s; }

.content__img {
  width: 100%;
  transition: all .3s;
  transform: scale(1.3); }
  @media only screen and (min-width: 37.5em) {
    .content__img {
      padding: 0 3rem; } }
  .content__img:hover {
    transform: scale(1.6); }

.btn, .btn:link, .btn:visited {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6); }
  @media only screen and (min-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.6rem; } }

.btn:disabled {
  opacity: .6;
  cursor: not-allowed; }
  .btn:disabled:hover {
    transform: translateY(0);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6); }
    .btn:disabled:hover::after {
      transform: scale(0); }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1.3rem 3.5rem rgba(0, 0, 0, 0.6); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:active, .btn:focus {
  outline: none;
  transform: translate(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6); }

.btn--brown {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  color: #eee; }
  .btn--brown::after {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%); }

.btn--green {
  background-image: linear-gradient(45deg, rgba(199, 220, 104, 0.8) 0%, rgba(152, 168, 81, 0.8) 100%);
  color: #5e4136; }
  .btn--green::after {
    background: linear-gradient(45deg, rgba(199, 220, 104, 0.8) 0%, rgba(152, 168, 81, 0.8) 100%); }

.btn--animated {
  animation: moveInBottom 1s ease-out .5s;
  animation-fill-mode: backwards; }

.btn-text {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: all .4s;
  display: inline-block; }
  .btn-text:focus {
    outline: 0; }

.btn-show, .btn-show--jp, .btn-show--cn {
  font-family: inherit; }

.btn-show::before {
  content: "Show more \025bc"; }

.btn-show.show::before {
  content: "Show less \025b2"; }

.btn-show--jp::before {
  content: "詳細を見る \025bc"; }

.btn-show--jp.show::before {
  content: "詳細を隠す \025b2"; }

.btn-show--cn::before {
  content: "顯示詳細 \025bc"; }

.btn-show--cn.show::before {
  content: "隱藏詳細 \025b2"; }

.btn-small, .btn-small:link, .btn-small:visited {
  border: none;
  background: linear-gradient(45deg, rgba(199, 220, 104, 0.8) 0%, rgba(152, 168, 81, 0.8) 100%);
  padding: .7rem;
  color: #eee;
  border-radius: 3px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  transition: all .4s; }

.btn-small:focus {
  outline: 0; }

.btn-send-en::before {
  content: "send"; }

.btn-send-en.active::before {
  content: "Sending..."; }

.form__group {
  margin: 0 auto;
  width: 100%;
  text-align: left; }
  @media only screen and (min-width: 56.25em) {
    .form__group {
      width: 80%; } }
  @media only screen and (min-width: 75em) {
    .form__group {
      width: 60%; } }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }

.form__group.invalid .form__input {
  border-bottom: 3px solid #e75d2a;
  background-color: #ffc9aa; }

.form__group.invalid .form__label {
  color: #e75d2a; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: inherit;
  padding: .5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .4s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #c7dc68; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #e75d2a; }

.form__label {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: .5rem;
  display: block;
  transition: all .4s; }

.people__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (min-width: 37.5em) {
    .people__container {
      margin: 0 auto; } }
  @media (hover: hover) {
    .people__container {
      flex-wrap: nowrap; } }

.people__img {
  padding: 2rem;
  margin: 2rem;
  width: 38rem;
  height: 19rem;
  overflow: hidden;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  transition: all .3s;
  display: flex;
  align-items: center;
  border-radius: 3px; }
  @media (hover: hover) {
    .people__img {
      width: 19rem; }
      .people__img:hover {
        width: 38rem; } }
  .people__img--item {
    height: 15rem;
    transition: all .4s; }
  .people__img--caption {
    text-align: left;
    margin-left: 2rem;
    color: #f7f7f7;
    transition: all .6s; }
    @media (hover: hover) {
      .people__img--caption {
        transform: translateX(-10rem) scale(0);
        opacity: 1; } }
  .people__img:hover .people__img--caption {
    transform: translateX(0) scale(1);
    opacity: 1; }
  .people__img:hover .people__img--item {
    border-radius: 50%; }

.people-detail__item {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(133, 91, 76, 0.8) 100%);
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 3px; }
  @media only screen and (min-width: 37.5em) {
    .people-detail__item {
      width: 80%; } }
  .people-detail__item__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .people-detail__item__title {
        flex-direction: row;
        justify-content: center; } }
    @media only screen and (min-width: 37.5em) {
      .people-detail__item__title--summary {
        text-align: left;
        flex-basis: 40%; } }
    .people-detail__item__title--summary .paragraph {
      text-align: center; }
      @media only screen and (min-width: 37.5em) {
        .people-detail__item__title--summary .paragraph {
          text-align: justify; } }
  .people-detail__item__text {
    padding: 0 2rem;
    display: none; }

.people-detail__shape {
  flex-basis: 50%;
  padding: 0 1rem;
  overflow: hidden; }

.people-detail__img {
  width: 55%; }

.sns-container {
  width: 100%; }
  @media only screen and (min-width: 56.25em) {
    .sns-container {
      display: flex;
      justify-content: center; } }

.sns-item {
  overflow: hidden; }
  .sns-item:not(:last-child) {
    margin-bottom: 3rem; }
    @media only screen and (min-width: 56.25em) {
      .sns-item:not(:last-child) {
        margin-bottom: 0; } }
  @media only screen and (min-width: 56.25em) {
    .sns-item {
      margin: 0 auto; } }

.sns-plugin--small {
  margin: 0rem auto;
  display: block; }
  @media only screen and (min-width: 37.5em) {
    .sns-plugin--small {
      display: none; } }

.sns-plugin--large {
  display: none; }
  @media only screen and (min-width: 37.5em) {
    .sns-plugin--large {
      display: initial; } }

.swiper-slide {
  width: 70%;
  overflow: hidden;
  position: relative; }
  .swiper-slide img {
    width: 100%;
    border-radius: 3px; }
    @media only screen and (min-width: 56.25em) {
      .swiper-slide img {
        width: 70%; } }
  .swiper-slide-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 3s ease 0s; }

@media only screen and (hover: none) {
  .swiper-button-prev, .swiper-button-next {
    display: none; } }

.swiper-button-prev:focus, .swiper-button-next:focus {
  outline: 0; }

.table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
  text-align: justify;
  vertical-align: top; }
  @media only screen and (min-width: 56.25em) {
    .table {
      width: 80%; } }
  @media only screen and (min-width: 75em) {
    .table {
      width: 60%; } }
  .table__title {
    text-align: right;
    padding-right: 3rem;
    width: 50%;
    vertical-align: top; }
  .table__content {
    width: 50%;
    word-wrap: break-word;
    white-space: pre-wrap; }

.village-container--1 {
  flex-direction: column;
  background: radial-gradient(circle, rgba(199, 220, 104, 0.6) 0%, transparent 40%, transparent 100%); }

.village-container--2 {
  flex-direction: column-reverse;
  background: radial-gradient(circle, rgba(231, 93, 42, 0.3) 0%, transparent 35%, transparent 100%); }

.village-item {
  margin: 2rem auto;
  flex-basis: 50%; }
  @media only screen and (min-width: 56.25em) {
    .village-item {
      padding: 1rem; } }
  .village-item--img {
    width: 100%;
    overflow: hidden;
    border-radius: 3px; }

[class^="village-container"] {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 56.25em) {
    [class^="village-container"] {
      flex-direction: row; } }

.location__item--1 {
  flex-basis: 50%; }
  @media only screen and (min-width: 56.25em) {
    .location__item--1 {
      flex-basis: 40%; } }

.location__item--2 {
  flex-basis: 70%;
  padding: 0 2rem;
  text-shadow: 2px 3px 10px #c7dc68;
  margin-bottom: 4rem; }
  @media only screen and (min-width: 56.25em) {
    .location__item--2 {
      flex-basis: 50%; } }

.location__img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 3rem;
  overflow: hidden;
  position: relative;
  transform: scale(0.8);
  transition: all .5s ease-out; }
  @media (hover: hover) {
    .location__img:hover .location__img--item-1 {
      transform: scale(8);
      opacity: 0; }
    .location__img:hover .location__img--item-2 {
      transform: scale(1.1);
      opacity: 1; } }
  @media (hover: none) {
    .location__img:active .location__img--item-1 {
      transform: scale(8);
      opacity: 0; }
    .location__img:active .location__img--item-2 {
      transform: scale(1.1);
      opacity: 1; } }
  .location__img--item-1 {
    border: none;
    width: 100%;
    transform: scale(1.2);
    transition: all .8s ease-out; }
  .location__img--item-2 {
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.5);
    opacity: 0;
    transition: all .5s ease-in; }

[class^="location__img--item"] {
  width: 100%; }

.population__item--1 {
  padding: 3rem;
  text-shadow: 2px 3px 40px #e75d2a;
  flex-basis: 50%; }

.population__item--2 {
  flex-basis: 50%; }
  .population__item--2.fadeinRight {
    transition-delay: .3s; }

.population__img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6); }

.nipd__item--1 {
  flex-basis: 40%; }

.nipd__item--2 {
  flex-basis: 50%;
  padding: 3rem;
  text-shadow: 0 2px 30px #5e4136;
  border-radius: 3px; }
  .nipd__item--2.fadeinRight {
    transition-delay: .3s; }

.nipd__img {
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6); }

.gallery--item {
  width: 80%;
  min-height: 20rem;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 3px;
  position: relative; }

.gallery--img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

.footer {
  width: 100%;
  padding: 5rem 0;
  background: radial-gradient(circle, #5e4136 0%, #000 100%);
  background-size: cover;
  position: relative; }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center; }
  .footer__logo-img, .footer__logo-name {
    height: 10rem;
    margin-bottom: 3rem; }
  .footer__address {
    white-space: nowrap;
    font-size: 1.2rem; }
  .footer__navigation {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;
    padding: 1rem 0;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .footer__navigation {
        flex-direction: row;
        border-top: none; } }
    .footer__navigation--item {
      padding: .5rem 0; }
      @media only screen and (min-width: 37.5em) {
        .footer__navigation--item {
          padding: 0;
          transition: all .4s; }
          .footer__navigation--item:hover {
            transform: skewY(-4deg) skewX(-4deg); }
          .footer__navigation--item:not(:last-child) {
            margin-right: 1.5rem; } }
    .footer__navigation--link {
      display: inline-block;
      text-decoration: none;
      color: #f7f7f7;
      font-size: 1.6rem;
      text-transform: uppercase;
      transition: all .4s; }
      .footer__navigation--link:hover {
        color: #c7dc68; }
  .footer__sns {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: .5rem; }
    .footer__sns--item {
      transition: all .4s; }
      .footer__sns--item:hover {
        transform: translateY(-0.4rem); }
      .footer__sns--item:not(:last-child) {
        margin-right: 1.7rem; }
    .footer__sns--link {
      display: inline-block;
      text-decoration: none;
      color: #f7f7f7;
      font-size: 3rem;
      text-transform: uppercase;
      transition: all .4s; }
      .footer__sns--link:hover {
        color: #c7dc68; }
  .footer__copyright {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: #eee;
    font-size: 1.2rem;
    white-space: nowrap; }

.home__header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .home__header__bg, .home__header__bg:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -100; }
  .home__header__bg li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: -100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: imageAnimation 18s linear infinite 0s; }
  .home__header__bg li:nth-child(1) span {
    background-image: url(../img/ozuchi-1-small.jpg);
    animation-delay: 0; }
    @media only screen and (min-width: 56.25em) {
      .home__header__bg li:nth-child(1) span {
        background-image: url(../img/ozuchi-1-large.jpg); } }
  .home__header__bg li:nth-child(2) span {
    background-image: url(../img/ozuchi-2-small.jpg);
    animation-delay: 6s; }
    @media only screen and (min-width: 56.25em) {
      .home__header__bg li:nth-child(2) span {
        background-image: url(../img/ozuchi-2-large.jpg); } }
  .home__header__bg li:nth-child(3) span {
    background-image: url(../img/ozuchi-3-small.jpg);
    animation-delay: 12s; }
    @media only screen and (min-width: 56.25em) {
      .home__header__bg li:nth-child(3) span {
        background-image: url(../img/ozuchi-3-large.jpg); } }
  .home__header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
    animation: moveInLeft 1s ease-out 1s;
    animation-fill-mode: backwards; }
    @media only screen and (min-width: 37.5em) {
      .home__header__logo-box {
        top: 4rem;
        left: 4rem; } }
    @media only screen and (min-width: 75em) {
      .home__header__logo-box {
        top: 5rem;
        left: 5rem; } }
  .home__header__logo-img {
    height: 8rem;
    border-radius: 50%;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6); }
    @media only screen and (min-width: 37.5em) {
      .home__header__logo-img {
        height: 10rem; } }
  .home__header__logo-name {
    display: none; }
    @media only screen and (min-width: 37.5em) and (min-height: 37.5em) {
      .home__header__logo-name {
        display: initial;
        height: 10rem; } }
  .home__header__logo-link, .home__header__logo-link:link, .home__header__logo-link:visited {
    text-decoration: none;
    display: inline-block; }
  .home__header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .home__header__scroll, .home__header__scroll:link, .home__header__scroll:visited {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5e4136;
    border-radius: 3px;
    font-size: 3.5rem;
    cursor: pointer;
    color: #fff;
    animation: showing 1s ease-out 2s;
    animation-fill-mode: backwards;
    transition: all .3s;
    text-decoration: none; }
  .home__header__scroll:hover {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #c7dc68;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.9); }
  .home__header__scroll:active, .home__header__scroll:focus {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #98a851;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.9); }

.village__header__title-box {
  background: url(../img/ozuchi-6-large.jpg); }

[class$="header__title-box"] {
  height: 24rem;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
  text-align: center;
  cursor: pointer;
  display: inline-block; }
  @media only screen and (min-width: 37.5em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (min-width: 75em) {
    .navigation__button {
      top: 6rem;
      right: 6rem; } }

.navigation__background {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: scale(0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  z-index: 1000;
  transition: all .7s ease-in; }

.navigation__title {
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .navigation__title {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: initial; } }

.navigation__nav--small {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -50rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media only screen and (min-width: 56.25em) {
    .navigation__nav--small {
      display: none; } }

.navigation__nav--large {
  display: none; }
  @media only screen and (min-width: 56.25em) {
    .navigation__nav--large {
      height: 0;
      width: 100%;
      position: fixed;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -100;
      transition: all 1.2s ease-in-out; }
      .navigation__nav--large__item, .navigation__nav--large__item:link, .navigation__nav--large__item:visited {
        text-align: center;
        width: 12rem;
        height: 12rem;
        color: #fff;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%);
        margin: 0 2rem;
        line-height: 12rem;
        font-size: 1.6rem;
        border-radius: 3px;
        transition: all .4s;
        position: relative;
        text-decoration: none;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        cursor: pointer; }
      .navigation__nav--large__item:hover {
        transform: translateY(-0.8rem);
        box-shadow: 0 1.3rem 3.5rem rgba(0, 0, 0, 0.6);
        color: #c7dc68; }
        .navigation__nav--large__item:hover::after {
          transform: scale(1.3);
          opacity: 0; }
      .navigation__nav--large__item::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%); } }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item--small {
  margin: 1rem; }

.navigation__link, .navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #98a851 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #855b4c;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(1); }

.navigation__checkbox:checked ~ .navigation__nav--large {
  opacity: 1;
  height: 100vh;
  bottom: -50%;
  right: -50%;
  z-index: 1500; }
  .navigation__checkbox:checked ~ .navigation__nav--large__item:nth-child(1) {
    animation: moveInBottom .3s linear; }
  .navigation__checkbox:checked ~ .navigation__nav--large__item:nth-child(2) {
    transform: translateY(0rem); }
  .navigation__checkbox:checked ~ .navigation__nav--large__item:nth-child(3) {
    transform: translateY(0); }
  .navigation__checkbox:checked ~ .navigation__nav--large__item:nth-child(4) {
    transform: translateY(0); }

.navigation__checkbox:checked ~ .navigation__nav--small {
  opacity: 1;
  left: 0;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.home__navigation .navigation__button {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  animation: moveInRight 1.5s ease-in-out; }
  @media only screen and (min-width: 37.5em) {
    .home__navigation .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (min-width: 75em) {
    .home__navigation .navigation__button {
      top: 6rem;
      right: 6rem; } }

.gnav {
  height: 9rem;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  transition: all .4s;
  animation: moveInBottom .5s ease-out;
  animation-fill-mode: backwards; }
  .gnav.invisible {
    opacity: 0; }
  .gnav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem; }
  .gnav__logo--box {
    animation: moveInLeft .8s ease-out .2s;
    animation-fill-mode: backwards; }
  .gnav__logo--link, .gnav__logo--link:link, .gnav__logo--link:visited {
    padding-left: 2rem;
    display: inline-block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .gnav__logo--link, .gnav__logo--link:link, .gnav__logo--link:visited {
        padding-left: 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .gnav__logo--link, .gnav__logo--link:link, .gnav__logo--link:visited {
        padding-left: 0; } }
  .gnav__logo--img {
    height: 8rem; }
  .gnav__logo--name {
    height: 6rem; }
    @media only screen and (min-width: 37.5em) {
      .gnav__logo--name {
        height: 8rem; } }
  .gnav__menu__list {
    display: none; }
    @media only screen and (min-width: 56.25em) {
      .gnav__menu__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        animation: moveInRight .8s ease-out .4s;
        animation-fill-mode: backwards; } }
    .gnav__menu__list--small {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      align-items: center;
      z-index: 500;
      position: fixed;
      top: 50%;
      left: -30%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 1s ease-out .3s; }
      .gnav__menu__list--small.active {
        left: 50%;
        opacity: 1; }
  .gnav__menu__item {
    height: 9rem;
    line-height: 9rem;
    width: 10rem;
    text-align: center;
    transition: all .4s;
    overflow: hidden;
    border-right: 1px solid rgba(153, 153, 153, 0.6); }
    .gnav__menu__item:first-child {
      border-left: 1px solid rgba(153, 153, 153, 0.6); }
    .gnav__menu__item:hover {
      background: #98a851; }
    .gnav__menu__item.current {
      background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%); }
    .gnav__menu__item span {
      width: 100%;
      height: 100%;
      display: inline-block; }
      .gnav__menu__item span:nth-child(1) {
        font-size: 2rem; }
    .gnav__menu__item--small {
      padding: 2rem; }
      .gnav__menu__item--small:not(:last-child) {
        border-bottom: 1px solid #999; }
  .gnav__menu__link, .gnav__menu__link:link, .gnav__menu__link:visited, .gnav__menu__link--small, .gnav__menu__link--small:link, .gnav__menu__link--small:visited {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    display: inline-block; }
  .gnav__menu__link, .gnav__menu__link:link, .gnav__menu__link:visited {
    font-size: 1.6rem;
    width: 10rem;
    transition: all .4s ease-out; }
    @media (hover: none) {
      .gnav__menu__link, .gnav__menu__link:link, .gnav__menu__link:visited {
        transform: translateY(-50%); } }
  .gnav__menu__link--small, .gnav__menu__link--small:link, .gnav__menu__link--small:visited {
    font-size: 3rem; }
    @media only screen and (min-width: 37.5em) {
      .gnav__menu__link--small, .gnav__menu__link--small:link, .gnav__menu__link--small:visited {
        font-size: 5rem; } }
  .gnav__menu__item:hover .gnav__menu__link, .gnav__menu__item:hover .gnav__menu__link:link, .gnav__menu__item:hover .gnav__menu__link:visited {
    transform: translateY(-50%); }
  .gnav__menu__item.current .gnav__menu__link, .gnav__menu__item.current .gnav__menu__link:link, .gnav__menu__item.current .gnav__menu__link:visited {
    transform: translateY(-50%); }
  @media only screen and (min-width: 56.25em) {
    .gnav__menu--small {
      display: none; } }
  .gnav__menu__button--small {
    width: 9rem;
    height: 9rem;
    padding-right: 2rem;
    animation: moveInRight 1s ease-out .5s;
    animation-fill-mode: backwards; }
    @media only screen and (min-width: 37.5em) {
      .gnav__menu__button--small {
        padding-right: 3rem; } }
    @media only screen and (min-width: 56.25em) {
      .gnav__menu__button--small {
        display: none; } }
  .gnav__menu__icon {
    position: relative;
    margin-top: 4.5rem; }
    .gnav__menu__icon, .gnav__menu__icon::before, .gnav__menu__icon::after {
      width: 4rem;
      height: 2px;
      background-color: #eee;
      display: inline-block; }
    .gnav__menu__icon::before, .gnav__menu__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s; }
    .gnav__menu__icon::before {
      top: -1.2rem; }
    .gnav__menu__icon::after {
      top: 1.2rem; }
  .gnav__menu__background--small--top, .gnav__menu__background--small--bottom {
    height: 52vh;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 200;
    background: url(../img/wood.jpg);
    background-size: cover;
    perspective: 150rem;
    -webkit-perspective: 150rem;
    -moz-perspective: 150rem;
    transition: all 1s ease-in; }
    .gnav__menu__background--small--top.active, .gnav__menu__background--small--bottom.active {
      transform: rotateY(0); }
  .gnav__menu__background--small--top {
    top: 0;
    transform-origin: center 0;
    transform: rotateX(-90deg); }
  .gnav__menu__background--small--bottom {
    bottom: 0;
    transform-origin: center 100%;
    transform: rotateX(90deg); }
  .gnav__menu__close-icon {
    position: fixed;
    top: 8rem;
    right: 3rem;
    z-index: 500;
    font-size: 3.5rem;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(231, 93, 42, 0.9) 100%);
    height: 6rem;
    width: 6rem;
    text-align: center;
    line-height: 6rem;
    border-radius: 50%;
    font-weight: 100;
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 1s linear .3s; }
    @media only screen and (min-width: 37.5em) {
      .gnav__menu__close-icon {
        font-size: 6rem;
        right: 4rem;
        height: 8rem;
        width: 8rem;
        line-height: 8rem; } }
    .gnav__menu__close-icon.active {
      opacity: 1;
      transform: translateY(0); }

.lang-menu {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem 1.5rem;
  width: 13rem;
  text-align: center;
  font-size: 1.6rem;
  color: #eee;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(133, 91, 76, 0.9) 100%);
  z-index: 2100;
  text-transform: uppercase;
  cursor: pointer;
  animation: moveInTop 1.5s ease-in; }
  @media only screen and (min-width: 56.25em) {
    .lang-menu {
      top: 3rem;
      right: 3rem; } }
  .lang-menu--array {
    font-size: 1rem; }
    .lang-menu--array::after {
      content: "\025bc"; }
    .lang-menu--array.active::after {
      content: "\025b2"; }
  .lang-menu.home__language {
    position: fixed;
    top: 4.3rem;
    right: 11rem; }
    @media only screen and (min-width: 37.5em) {
      .lang-menu.home__language {
        top: 5rem;
        right: 13rem;
        padding: 1rem 2rem; } }
    @media only screen and (min-width: 75em) {
      .lang-menu.home__language {
        top: 7.3rem;
        right: 15rem; } }
  .lang-menu__list {
    list-style: none;
    display: none; }
    .lang-menu__list--item {
      padding-top: .5rem; }
      .lang-menu__list--item a {
        display: block;
        text-decoration: none;
        color: #eee;
        transition: all .4s; }
        .lang-menu__list--item a:hover {
          color: #c7dc68; }

[class$="main"] {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

[class^="section-"] {
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(231, 93, 42, 0.8) 100%);
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  animation: moveInBottom 1s ease-out .8s;
  animation-fill-mode: backwards; }
  [class^="section-"]:not(:last-child), [class^="section-"]:not(:first-child) {
    margin: 5rem auto; }

#section {
  transform: scale(1) translateY(0);
  opacity: 1;
  transition: all 1s; }
  #section.invisible {
    transform: scale(0.8) translateY(6rem);
    opacity: 0; }

.home__main {
  background-image: url(../img/ozuchi-4-small.jpg);
  padding: 2rem 0; }
  @media only screen and (min-width: 56.25em) {
    .home__main {
      padding: 1rem 0;
      background-image: url(../img/ozuchi-4-large.jpg); } }

.village__main {
  padding-bottom: 2rem;
  background-image: url(../img/ozuchi-8-small.jpg); }
  @media only screen and (min-width: 56.25em) {
    .village__main {
      background-image: url(../img/ozuchi-8-large.jpg); } }
