*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 50%;

    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(desktop){
        font-size:62.5%;
    }
    @include respond(big-desktop){
        font-size: 75%;
    }

    // scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
}



